*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-top: 0;
  padding: 0;

} 

.container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff1e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.navbar{
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  min-width: 300px;
  height: 8vh;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 0.01px rgb(120, 143, 197);
  background-color: #d5cef4;
}

.navbar i{
  color: rgb(127, 165, 255);
  font-size: 30px;
}

.fa-gamepad{
  color: rgb(22, 39, 134);
}

.lastResult {
  color: #000000;
  font-size: 20px;
  padding: 7px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  max-width: 590px;
  min-height: 400px;
  color: #2c198b;
  z-index: 5;
  overflow: hidden;
}


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para{
  margin: 5px;
}

#guessField {
  display: none;
  color: #bf8ff5;
  min-width: 100px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  border: 4px solid #d4d1faf2;
  text-align: center;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
}

#subt {
  background-color: rgb(190, 194, 204);
  color: #120101;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 20px;
  border-style: none;
  margin-top: 30px;
}

#subt:hover{
  color: whitesmoke;
  background-color: #03045e;
  cursor: pointer;
}


#guess {
  font-size:35px;
  margin: auto;
  padding: 10px;
  color: #006d77;
  border-radius: 8px;
  box-shadow: 4px 4px 0.01px rgb(120, 143, 197);
  border: 2px solid rgb(120, 143, 197);
}

.inputfield{
  width: 60%;
}

.guesses {
  color: #141414;
  font-size: larger;
}


h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #74B27B;
  font-size: 30px;
}

p {
  font-size: 14px;
  text-align: center;
}

.resultParas{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.lowOrHi{
  margin: 1rem;
  font-size: medium;
  color: #bf8ff5;
}

 @media (min-width: 375px) and (max-width: 425px) {
  .wrapper{
    min-height: 200px;
    min-width: 50vw;
  }

  #guess{
    font-size: 25px;
    padding: auto;
    border-bottom: 6px;
    border: 1px solid rgb(120, 143, 197);
  }

  .inputfield{
    width: 40%;
  }

  #subt{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    border-style: none;
    margin-top: 20px;
  }

  h1{
    font-size: 20px;
  }

  p{
    font-size: 12px;
  }
}

@media (max-width: 375px) and (min-width:300px){
  .navbar{
    width: 30vw;
  }
  .wrapper{
    min-height: 100px;
    min-width: 35vw;
  }

  #guess{
    font-size: 16px;
    padding: auto;
    border-bottom: 4px;
    border: 1px solid rgb(120, 143, 197);
    margin: 0;
  }

  .inputfield{
    width: 30%;
    height: 20% !important;
  }

  #subt{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 10px;
    border-style: none;
    margin-top: 15px;
  }

  h1{
    font-size: 15px;
  }

  p{
    font-size: 9px;
  }
}